# ==========================================
# 1. Python Cache & Temporary Files
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ==========================================
# 2. Virtual Environment
# ==========================================
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ==========================================
# 3. File Sensitif & Kunci API
# ==========================================
.env
.streamlit/secrets.toml

# ==========================================
# 4. Pengaturan IDE / Editor
# ==========================================
.vscode/
.idea/
*.swp

# ==========================================
# 5. File Sistem Operasi
# ==========================================
.DS_Store
Thumbs.db